.contacto {
    margin-top: 2rem;
  }
  
  .contacto h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
  
  .contenedor-formulario-contacto {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }
  .input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
  }
  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
  }

  .submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
  }